@import url(./main-styles.css);

.bg-mobile, .bg-desktop {
    right: -7rem;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.list {
    font-family: var(--serif-font);
    position: relative;
}

.list ul li {
    margin-left: 1.5rem;
}

.list ul li:hover {
    cursor: default;
}

.list > ul {
    font-weight: bold;
    margin-top: 1.5rem;
}

ul>li>ul>li {
    font-weight: normal;
    margin-top: 0;
}

ul>li>ul>li:hover {
    text-decoration: underline;
}

.title {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.3rem;
}

@media screen 
and (min-width: 450px)
and (orientation: portrait) {
    .bg-mobile {
        max-height: 95vh;
        left: 25vw;
    }

    .chords {
        left: 20rem;
    }
}

@media (orientation: landscape) {
    .bg-mobile, .bg-desktop {
        left: 45vw;
        right: unset;
        max-height: 95vh;
    }

    .list {
        width: 50vw;
        left: 15vw;
    }
}

/* DESKTOP */

@media only screen
and (min-width: 1000px) {
    .bg-desktop {
        left: unset;
        align-self: center;
    }

    .list {
        top: 5rem;
    }
}


@media only screen
and (min-width: 1200px) {
    .list {
        width: 30vw;
    }
}


@media only screen
and (min-width: 1500px) {
    .list {
        width: 25vw;
    }

    .title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}