@import url(./main-styles.css);

.bg-mobile, .bg-desktop {
    right: -7rem;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.song-menu {
    display: flex;
    position: fixed;
    top: 3.5rem;
    align-self: flex-end;
    gap: 1.3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 0.65rem;
    font-weight: bold;
}

.song {
    font-family: var(--serif-font);
    position: relative;
    margin-left: 1.5rem;
    width: 70vw;
}

.chords .close, .tabs .close {
    display: initial;
    width: 0.8rem;
    position: absolute;
    right: -0.1rem;
    top: -0.1rem;
}

.chords, .tabs {
    padding: 0.7rem 1.1rem 1.1rem 0.5rem;
    margin-top: 2rem;
    font-size: 0.85rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
    position: fixed;
    left: 17rem;
    background-color: var(--hero-bg);
    box-shadow: 0 -2px 10px 2px var(--blur-color);
    border-radius: var(--radius);
    display: none;
}

.tabs {
    top: 50vh;
    left: unset;
    right: 3rem;
    background-color: var(--tabs-bg);
}

.title {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.3rem;
    margin-left: 15vw;
}

.author {
    font-size: 0.65rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.lyrics {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-bottom: 75vh;
}

@media screen 
and (min-width: 450px)
and (orientation: portrait) {
    .bg-mobile {
        max-height: 95vh;
        left: 25vw;
    }

    .chords {
        left: 20rem;
    }

    .tabs {
        left: 15rem;
        right: unset;
    }
}

@media (orientation: landscape) {
    .bg-mobile, .bg-desktop {
        right: 20vw;
        max-height: 95vh;
    }

    .song {
        width: 50vw;
        left: 15vw;
    }

    .chords {
        left: 26rem;
    }

    .tabs {
        position: absolute;
        top: unset;
        left: unset;
        right: -10rem;
    }
}

@media (orientation: landscape)
and (min-height: 600px) {
    .tabs {
        position: fixed;
        right: unset;
        left: 33rem;
    }
}

/* DESKTOP */

@media only screen
and (min-width: 1000px) {
    .bg-desktop {
        right: unset;
        left: unset;
        align-self: center;
    }

    .song {
        top: 5rem;
    }

    .song-menu {
        top: 2.2rem;
        z-index: 1;
    }

    .chords {
        left: 30rem;
    }
    .tabs {
        left: 35rem;
    }
}


@media only screen
and (min-width: 1200px) {
    .song {
        width: 30vw;
    }
}


@media only screen
and (min-width: 1500px) {
    .song-menu {
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    .song {
        width: 25vw;
    }

    .chords {
        left: 40rem;
        letter-spacing: 2px;
    }

    .tabs {
        left: 50rem;
    }

    .title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    .author {
        font-size: 0.8rem;
    }
    
    .lyrics, .chords {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}