@import url(./main-styles.css);

body {
    background-size: 100vw auto;
    background-position: 30vw 100%;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.search-section {
    display: none;
}

.song-menu {
    display: flex;
    position: sticky;
    top: 4rem;
    align-self: flex-end;
    gap: 1.3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 0.65rem;
    font-weight: bold;
}

.song {
    margin-left: 1.5rem;
    font-family: var(--serif-font);
    position: relative;
    top: 3.5rem;
}

.title {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.3rem;
}

.author {
    font-size: 0.65rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.lyrics {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-bottom: 50vh;
}

@media screen 
and (min-width: 450px)
and (orientation: portrait) {
    body {
        background-size: 75vw auto;
        background-position: 45vw 100%;
    }   
}

@media (orientation: landscape) {
    body {
        background-size: contain;
        background-position: 50% 100%;
    }
}

/* DESKTOP */

@media only screen
and (min-width: 1000px) {

}


@media only screen
and (min-width: 1200px) {

}


@media only screen
and (min-width: 1500px) {

}